@*@model IEnumerable<MVC_TimeSh.Models.UsersViewModel>*@
@model PagedList.IPagedList<MVC_TimeSh.Models.UsersViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All Users";

    if (TempData["Success"] != null)
    {
        <div class="alert alert-success my-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success: </strong> @TempData["Success"]
        </div>
    }
    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger my-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error: </strong> @TempData["Error"]
        </div>
    }
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Members</div>

            <div class="panel-body">
                @using (Html.BeginForm("UsersTable", "Users", FormMethod.Get))
                {
                    <p>
                        <b>Search by Name | Email | Username:</b> 
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Search" class="btn btn-default" />
                    </p>
                }
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("User ID", "UsersTable",
                                 new { sortOrder = ViewBag.IdSortParam,
                                     currentFilter = ViewBag.CurrentFilter })
                                @*@Html.DisplayNameFor(m => m.IdShortened)*@
                            </th>
                            <th>
                                @Html.ActionLink("Name", "UsersTable",
                                 new { sortOrder = ViewBag.NameSortParam,
                                     currentFilter = ViewBag.CurrentFilter })
                                @*@Html.DisplayNameFor(m => m.Name)*@
                            </th>
                            <th>
                                @Html.ActionLink("Role", "UsersTable",
                                 new { sortOrder = ViewBag.RoleSortParam,
                                     currentFilter = ViewBag.CurrentFilter })
                                @*@Html.DisplayNameFor(m => m.Role)*@
                            </th>
                            <th>
                                @Html.DisplayName("Phone Number")
                                @*@Html.DisplayNameFor(m => m.PhoneNumber)*@
                            </th>
                            <th>
                                @Html.ActionLink("Email", "UsersTable",
                                 new { sortOrder = ViewBag.EmailSortParam,
                                     currentFilter = ViewBag.CurrentFilter })
                                @*@Html.DisplayNameFor(m => m.Email)*@
                            </th>
                            <th>
                                @Html.ActionLink("Username", "UsersTable",
                                 new { sortOrder = ViewBag.UnameSortParam,
                                     currentFilter = ViewBag.CurrentFilter })
                                @*@Html.DisplayNameFor(m => m.UserName)*@
                            </th>
                            <th>
                                @Html.ActionLink("Birthday", "UsersTable",
                                 new { sortOrder = ViewBag.BdaySortParam,
                                     currentFilter = ViewBag.CurrentFilter })
                                @*@Html.DisplayNameFor(m => m.Birthday)*@
                            </th>
                            <th>
                                @Html.ActionLink("Date Created", "UsersTable",
                                 new { sortOrder = ViewBag.CreateSortParam,
                                     currentFilter = ViewBag.CurrentFilter })
                                @*@Html.DisplayNameFor(m => m.DateCreated)*@
                            </th>
                            <th>
                                View Details
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(mi => item.IdShortened)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.Role)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.Birthday)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.DateCreated)
                                </td>
                                <td>
                                    @*<a href="#" onclick="ShowUserDetails(id = Modal.UserId)"
                                       class="btn btn-primary">View</a>*@

                                    <input type="button" value="View" onclick="UserDetails(this)"
                                           data-assigned-id="@item.UserId" class="btn btn-primary" />
                                    
                                    @*<a href="@Url.Action("Register", "Account")">Register</a>*@
                                    
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("UsersTable",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script type="text/javascript">
    //$(function () {
   
    //});

    function UserDetails(details) {
        var id = $(details).data("assigned-id");
        //application/json '{userId:"'+id+'"}',
        // "Url.Action("UserDetails", "Users")",
        $.ajax({
            url: '/Users/UserDetails',
            contentType: "text",
            data: { userId : id },
            dataType: "html",
            success: function (data) {
                $("#contentBody").html(data);
                $("#modalViewUser").modal("show");
                //alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }

    function ShowUserDetails(id) {
        var url = '@Url.Content("~/")' + "Users/UserDetails";
        $.ajax({
            type: "POST",
            url: url,
            data: '{ UserId: "' + id + '" }',
            contentType: "application/json; charset-utf-8",
            dataType: "html",
            success: function (response) {
                $('#contentBody').html(response);
                $('#modalViewUser').modal('show');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>


<!-- DETAILS MODAL FOR SPECIFIED USER -->
<div class="modal fade" id="modalViewUser" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-user"></span>
                    Member Detail
                </h4>
            </div>
            <div class="modal-body" id="contentBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
