@model MVC_TimeSh.Models.UsersViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <b>@Html.DisplayNameFor(m => m.IdShortened):</b>
                    @Html.DisplayFor(m => m.IdShortened)
                </div>
                <div class="col-md-4 col-lg-4">
                    <b>@Html.DisplayNameFor(m => m.Name):</b>
                    @Html.DisplayFor(m => m.Name)
                </div>
                <div class="col-md-4 col-lg-4">
                    <b>@Html.DisplayNameFor(m => m.PhoneNumber):</b>
                    @Html.DisplayFor(m => m.PhoneNumber)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <b>@Html.DisplayNameFor(m => m.Email):</b>
                    @Html.DisplayFor(m => m.Email)
                </div>
                <div class="col-md-4 col-lg-4">
                    <b>@Html.DisplayNameFor(m => m.UserName):</b>
                    @Html.DisplayFor(m => m.UserName)
                </div>
                <div class="col-md-4 col-lg-4">
                    <b>@Html.DisplayNameFor(m => m.Birthday):</b>
                    @Html.DisplayFor(m => m.Birthday)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <b>@Html.DisplayNameFor(m => m.DateCreated):</b>
                    @Html.DisplayFor(m => m.DateCreated)
                </div>
            </div>
        </div>
    </div>
</div>
