@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Time Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/jqueryuitime")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand col-sm-3 col-md-2 col-lg-2" href="#">
                TimeSheet
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- STILL HAVE ORGANIZING OF NAV-LINKS TO DO.-->
    <!-- SIDE STICKY NAVIGATION BAR -->
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("TimeSheetList", "TimeSheet")">
                                <span class="glyphicon glyphicon-calendar"></span>
                                All TimeSheets
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("AddTimeSheet", "TimeSheet")">
                                <span class="glyphicon glyphicon-save"></span>
                                Add TimeSheet
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Dashboard", "SuperAdmin")">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                Super Admin Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("RoleManager", "SuperAdmin")">
                                <span class="glyphicon glyphicon-bullhorn"></span>
                                Role Manager
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CreateProject", "Projects")">
                                <span class="glyphicon glyphicon-edit"></span>
                                Add Project
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CreateUser", "Users")">
                                <span class="glyphicon glyphicon-user"></span>
                                Add User
                            </a>
                        </li>

                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Dashboard", "Admin")">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                Admin Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CreateProject", "Projects")">
                                <span class="glyphicon glyphicon-edit"></span>
                                Add Project
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CreateUser", "Users")">
                                <span class="glyphicon glyphicon-user"></span>
                                Add User
                            </a>
                        </li>

                    }
                    else if (User.IsInRole("User"))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("UserDashboard", "Users")">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                User Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangePassword", "Users")">
                                <span class="glyphicon glyphicon-wrench"></span>
                                Change Password
                            </a>
                        </li>
                        @*<li>@Html.ActionLink("Update Password", "ChangePassword", "Users")</li>*@
                    }
                    else if (User.IsInRole("Developer"))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("UserDashboard", "Users")">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                Developer Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangePassword", "Users")">
                                <span class="glyphicon glyphicon-wrench"></span>
                                Change Password
                            </a>
                        </li>
                        @*<li>@Html.ActionLink("Update Password", "ChangePassword", "Users")</li>*@
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Not a valid user</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a href="@Url.Action("UsersTable", "Users")">
                            <span class="glyphicon glyphicon-user"></span>
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ProjectListAll", "Projects")">
                            <span class="glyphicon glyphicon-briefcase"></span>
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ExportTimeSheetToExcel", "TimeSheet")">
                            <span class="glyphicon glyphicon-th"></span>
                            Export TimeSheet
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("UsersTable", "Users")">
                            <span class="glyphicon glyphicon-usd"></span>
                            Export All Expenses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("UsersTable", "Users")">
                            <span class="glyphicon glyphicon-pushpin"></span>
                            Push Notification
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="col-md-9 col-lg-10 px-4 ml-sm-auto container body-content">
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/jqueryui")
            <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET TimeSheet Application</p>
            </footer>
        </div>
    </div>
    @*<script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.min.js">
        </script>*@
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/jqueryui")*@

    <script>
        $(function () {
            // DATEPICKER JQUERY ADDITION "yyyy/mm/dd",
            /*$(".datepicker").datepicker({
                dateFormat: "MM/dd/yyyy",
                changeYear: true,
                shownOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Select a Date",
                    text: false
                });*/

            // DATETIMEPICKER JQUERY ADDITION
            $(".datetimepicker").datetimepicker({
                showButtonPanel: true,
                showSecond:null,
                dateFormat: 'MM/dd/yy',
                timeFormat: 'hh:mm',
                timeInput: true,
            });
           
            // add value of hours.

        })

        function Proj1Tot() {
            var p1d1 = $("#P1w1d1").val();
            var p1d2 = $("#P1w1d2").val();
            var p1d3 = $("#P1w1d3").val();
            var p1d4 = $("#P1w1d4").val();
            var p1d5 = $("#P1w1d5").val();
            var p1d6 = $("#P1w1d6").val();
            var p1d7 = $("#P1w1d7").val();
            var sum = parseInt(p1d1) + parseInt(p1d2) + parseInt(p1d3) +
                parseInt(p1d4) + parseInt(p1d5) + parseInt(p1d6) + parseInt(p1d7);
            $("#p1tot").val(sum);
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
