@model MVC_TimeSh.Models.TimeSheetDetailsModel
@{
    ViewBag.Title = "TimeSheet Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 justify-content-center">
        <div class="panel">
            <div class="panel-heading">
                @Html.ActionLink("Admin Time Menu", "AdminTimeMenu", 
                "TimeSheet", null , new { @class = "btn btn-primary" })
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-bordered" style="border: 1px solid black;">
                    <thead>
                        <tr>
                            <th><b>@Html.LabelFor(m => m.ProjectName)</b></th>
                            <th><b>@Html.LabelFor(m => m.Sunday)</b></th>
                            <th><b>@Html.LabelFor(m => m.Monday)</b></th>
                            <th><b>@Html.LabelFor(m => m.Tuesday)</b></th>
                            <th><b>@Html.LabelFor(m => m.Wednesday)</b></th>
                            <th><b>@Html.LabelFor(m => m.Thursday)</b></th>
                            <th><b>@Html.LabelFor(m => m.Friday)</b></th>
                            <th><b>@Html.LabelFor(m => m.Saturday)</b></th>
                            <th><b>@Html.LabelFor(m => m.Hours)</b></th>
                            <th><b>@Html.LabelFor(m => m.Comment)</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Sunday)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Monday)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Tuesday)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Wednesday)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Thursday)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Friday)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Saturday)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Hours)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Comment)                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="panel">
                    <div class="panel-heading">
                        <p>TimeSheet Description</p>
                    </div>
                    @using (Html.BeginForm("AdminApproval", "TimeSheet", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.TimeSheetMasterId)
                        @Html.HiddenFor(m => m.TimeSheetId)
                        @Html.HiddenFor(m => m.UserId)
                        <div class="panel-body">
                            <div class="form-group">
                                <strong>@Html.LabelFor(m => m.Comment)</strong>
                                @Html.TextAreaFor(m => m.Comment, new { @class="form-control",
                                @maxlength ="100", @rows="2" })
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" class="btn btn-danger" value="Reject" name="response"
                                   formaction="@Url.Action("RejectTimeSheet")" formmethod="post" />

                            <input type="submit" class="btn btn-success" value="Approve" name="response"
                                   formaction="@Url.Action("ApproveTimeSheet")" formmethod="post" />

                            @*<input type="submit" value="Approve" name="TimeStat" />*@
                        </div>
                    }                    
                </div>
            </div>
        </div>
    </div>
</div>
